{{page-title 'NotFound'}}

<div
  class='d-flex flex-column justify-content-center align-items-center vh-100'
>
  <h1 class='display-1'>404 - Not Found</h1>
  <p class='lead text-muted fw-bold'>This page doesn't exists</p>

  <LinkTo @route='index'>
    <p class='btn btn-primary btn-lg'>Go Home</p>
  </LinkTo>
</div>